.main {
  width: 450px;
  height: 450px;
  box-shadow: 0 0 24px rgba(0,0,0,0.15);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  padding: 10px 20px;
  background-color: #fff;
}

body {
  position: relative;
  background-color: rgba(222, 220, 221, 0.3);
}






